<!DOCTYPE html lang="en">
<html>
<head> 
    <title>Thank you for your review</title>
</head>
<body>
<h1>Thank you for your review</h1>
  <div>
      <h2>{{body.name}}</h2>
      <div>Rating: {{body.rating}}</div>
      <div>{{body.review}}</div>
      <div>Review date: {{body.created}}</div>
  </div>
  <div>
    Return to the review list <a href="/">View List</a>.
  </div>
</body>
</html>
