<!DOCTYPE html lang="en">
<html>
  <head>
  	<title>Welcome to the Album Review Demo!</title>
  </head>
  <body>
    <h1>Welcome to the Album Review Demo!</h1>
    <div id="bird-list">
	<table>
		<thead>
			<tr class="header"> <th>Album Name</th> <th>Review</th> <th>Rating</th> <th>Review Date</th> </tr>
		</thead>
		<tbody>
{{#body}}
			<tr> <td>{{album_name}}</td> <td>{{album_review}}</td> <td>{{album_rating}}</td> <td>{{created}}</td> </tr>
{{/body}}
		</tbody>
	</table>
    </div>

    <h2>Add a bird</h2>
    <div><form name="add_a_review" method="POST" action="/add_a_review">
      <div>
        <label for="album_name">Album Name</label>
                <input id="album_name" name="album_name" type="text" value="" placeholdertext="ex. FreehandFagile by Gentle Giant">
      </div>
      <div>
        <label for="album_review">Review</label>
                <input id="album_review" name="album_review" type="text" value="" placeholdertext="ex. I really likes this album">
      </div>
      <div>
        <label for="album_rating">Rating</label>
                <input id="album_rating" name="album_rating" type="number" min="1" max="5" value="3">
      </div>
      <button id="add-review" type="submit">Add your album review</button>
    </form></div>
  </body>
</html>
