<!DOCTYPE html>
<html>
<head>
    <title>Newt Project</title>
    <link rel="stylesheet" href="./css/site.css">
</head>
<body>
<header>
<h1>Newt Project</h1>
</header>
<nav>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="index.html">README</a></li>
    <li><a href="LICENSE">LICENSE</a></li>
    <li><a href="birds/">Birds</a></li>
    <li><a href="bees/">Bees</a></li>
    <li><a href="flowers/">Flowers</a></li>
	<li><a href="search.html">Search</a></li>
	<li><a href="about.html">About</a></li>
    <li><a href="https://github.com/rsdoiel/newt">GitHub</a></li>
</ul>
</nav>

<section>
${body}
</section>

<footer>
<div>copyright &copy; 2023 all rights reserved.</div>
</footer>
</body>
</html>
