<DOCTYPE html lang="en">
<html>
  <head><title>$title$</title></head>
  <body>
    <header>$title$</header>
	<p>
    <h1>Welcome to the bird list!</h1>
    <p>
$body$
	<p>
	<footer>Updated: $date$</footer>
  </body>
</html>
