<DOCTYPE html lang="en">
<html>
<head>
	<meta http-equiv="refresh" content="0; url="/sightings" />
</head>
<body>
Thank you for submitting a bird, <a href="/sighthings">View List</a>.
</body>
</html>
